name: Deploy to EC2

on:
  push:
    branches: [ rewrite ]

jobs:
        
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3    


    - name: Add EC2 host key to known hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H ${{ secrets.LLBS_EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Setup private key
      env:
        PRIVATE_KEY: ${{ secrets.LLBS_EC2_PRIVATE_KEY }}
      run: |
        mkdir -p ~/.ssh
        echo "$PRIVATE_KEY" > ~/.ssh/id_rsa    
        
    - name: Deploy to EC2
      env:
        EC2_INSTANCE_HOST: ${{ secrets.LLBS_EC2_HOST }}
        EC2_INSTANCE_USER: ${{ secrets.LLBS_EC2_USER }}
        EC2_INSTANCE_KEY: ${{ secrets.LLBS_EC2_PRIVATE_KEY }}
        SITE_PATH: /home/ec2-user/
      run: |
        chmod 600 ~/.ssh/id_rsa
        scp -r "${PWD}/" $EC2_INSTANCE_USER@$EC2_INSTANCE_HOST:$SITE_PATH
        #ssh $EC2_INSTANCE_USER@$EC2_INSTANCE_HOST "cd /home/ec2-user/LovelyLegend_BackEnd && sudo chmod +x deploy.sh && ./deploy.sh"
